name: deploy

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["build-image"]
    types: [completed]
    branches: ["master"]


jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Substitute env vars in manifests
        run: |
          envsubst < .github/k8s/deployment.yaml > /tmp/deployment.yaml
          envsubst < .github/k8s/service.yaml > /tmp/service.yaml
        env:
          RUST_LOG: ${{ vars.RUST_LOG }}
          HTTP_BIND: ${{ vars.HTTP_BIND }}


      - name: Check secrets exist
        run: |
          if [ -n "${{ secrets.SERVER_HOST }}" ]; then echo "SERVER_HOST is set"; else echo "SERVER_HOST is EMPTY"; fi
          if [ -n "${{ secrets.SERVER_USER }}" ]; then echo "SERVER_USER is set"; else echo "SERVER_USER is EMPTY"; fi

      - name: Debug SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          debug: true
          script: |
            echo "SSH connection successful"
            whoami

      - name: Copy manifests to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "/tmp/deployment.yaml,/tmp/service.yaml"
          target: "/tmp/k8s-manifests"
          strip_components: 1

      - name: Deploy to k8s
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            export KUBECONFIG=/home/limitofzero/.kube/config
            kubectl apply -f /tmp/k8s-manifests/deployment.yaml
            kubectl apply -f /tmp/k8s-manifests/service.yaml
            kubectl rollout restart deployment/token-balances-watcher
            kubectl rollout status deployment/token-balances-watcher