name: Formatter Check

on:
    pull_request:
        branches:
          - master
          - develop
          - '*'


jobs:
    check-format:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v5
        
        - name: Set up Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1
          with:
            rust-component: rustfmt

        - name: Rustfmt check
          run: actions-rust-lang/rustfmt@v1