name: Formatter Check

on:
    pull_request:
        branches:
          - master
          - develop
          - '*'


jobs:
    check-format:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - name: Set up Rust
          uses: actions/setup-rust@v2
          with:
            rust-version: stable

        - name: Run formatter check
          run: cargo fmt --check